.cards {
  margin-top: 5.375rem;
  .cards__row {
    background-color: $white-color;
    box-shadow: 0 0px 13px 0 rgba(0, 0, 0, 0.15);

  }
  .cards__column{
    flex: 0 1 33.333%;
    padding: 40px 21px 48px;
  }
  .cards__image{
    padding: 0 0 65% 0;
    margin: 0 0 17px 0;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
    }
  .cards__body{
    h3{
      font-size: 1.125rem;
      font-family: "JosefinSans", sans-serif;
      font-weight: 300;
      margin-bottom: 8px;
    }
  }
  }
