.footer {
  margin-top: 5.125rem;
  @media (min-width: $screen-md) and (max-width: $screen-md-max) {
    margin-top: 3.125rem;
  }
  @media (max-width: $screen-sm-max){
    margin-top: 25px;
  }
  .footer__top {
    align-items: center;
    justify-content: space-between;
  }

  .footer__list {
    //width: 60%;
    //margin: 0 133px 0 110px;
    justify-content: space-between;

    .footer__link {
      text-transform: uppercase;
      color: $emperor-color;
      padding: 10px;
      font-size: 0.75rem;
      @media (min-width: $screen-md) and (max-width: $screen-md-max) {
        font-size: 0.625rem;
      }
      font-family: "JosefinSans", sans-serif;
      font-weight: 700;
    }
  }

  .footer__container {
    background-color: $mineShaft-color;
    padding: 35px 35px 35px 87px;
    @media (min-width: $screen-md) and (max-width: $screen-md-max) {
      padding: 15px;
    }
  }

  .footer__info {
    text-transform: uppercase;
    color: $emperor-color;
    font-size: 0.75rem;
    font-family: "JosefinSans", sans-serif;
    font-weight: 700;
  }

  .footer__bottom {
    justify-content: flex-end;

    .footer__links {

      width: 100px;
      justify-content: space-between;

      .footer__links-item {

        color: $emperor-color;
      }
    }
  }
}