.logo {
  img {
    display: block;
    margin: 0 auto;
    max-width: 382px;
  }

  margin-top: 20px;
  margin-bottom: 118px;
  @media (max-width: $screen-sm-max) {
    display: none;
  }
  @media (min-width: $screen-md) and (max-width: $screen-md-max) {
    margin-bottom: 40px;
  }
}