.page {
  padding: 164px 0 0 0;
  flex: 1 1 auto;

  &__container {
    display: flex;

    .page__content {
      height: 290px;
    }
  }

  &__side {
    position: relative;
    z-index: 3;
    flex: 0 0 260px;
  }

  &__content {
    flex: 1 1 auto;
    min-width: 0;
    padding: 0 0 0 30px;
  }

  &__search {
    position: relative;
    z-index: 2;
    margin: 0 0 22px 0;
  }

  &__slider {
    margin: 0 0 65px 0;
  }
}

.menu-page {
  background: url("../img/bg_menu.jpg") top no-repeat;
  position: relative;


  &__header {
    padding: 20px;
    display: flex;
    align-items: center;
  }

  &__title {
    font-family: "UniSans", sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 35 / 30 * 100%;
  }

  &__burger {
    flex: 0 0 36px;
    width: 36px;
    height: 36px;
    background-color: #068292;
    cursor: pointer;
    position: relative;
    z-index: 5;
    padding: 10px 6px;

    span {
      transition: all .3s ease 0s;
      top: calc(50% - 1px);
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #ffffff;

      &:first-child {
        top: 0;
      }

      &:last-child {
        bottom: 0;
        top: auto;
      }
    }

    &._active {
      span {
        transform: scale(0);

        &:first-child {
          transform: rotate(-45deg);
          top: calc(50% - 1px);
        }

        &:last-child {
          transform: rotate(45deg);
          bottom: calc(50% - 1px);
        }
      }
    }
  }

  &__body {
    display: none;


    &._active {
      display: block;
    }
  }

  &__list {
    > li {
      border-bottom: 1px solid #1aa7b9;
    }
  }

  &__lines {
    position: relative;
    height: 16px;
  }


  &__parent {
    .menu-page__link {
      &:after {
        content: "";
        width: 14px;
        height: 14px;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translate(0px, -50%);
        background: url("../img/menu_arrow.png") 0 0 no-repeat;
      }
    }

    &._active {
      .submenu-page__item {
        z-index: 2;
        transform: translate(0px, 0px);
      }

      .submenu-page {
        display: block;
      }

      .menu-page__link {
        background-color: #098494;
      }
    }
  }

  &__link {
    display: block;
    letter-spacing: 0.3px;
    font-weight: 300;
    font-size: 12px;
    color: #ffffff;
    padding: 12px 20px;
    position: relative;
    @media (min-width: $md2+px) {
      &:hover {
        background-color: #098494;
      }
    }
  }

  &__submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}

.submenu-page {


  &__item {
    border: 2px solid #098494;
    background-color: #ffffff;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0%;
    transition: all .3s ease 0s;
    transform: translate(-100%, 0px);
  }

  &__menu {
    padding: 20px 0;
    border-bottom: 1px solid #dedede;
  }

  &__link {
    display: block;
    color: #1ab9ce;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: .3px;
    padding: 10px 40px;
    position: relative;
    @media (min-width: $md2+px) {
      &:hover {
        background-color: #71c7d3;
        color: #ffffff;
      }
    }
  }

  &__product {
    padding: 0 15px;
  }
}

.item-product {
  padding: 15px;
  position: relative;

  &__body {
    padding: 0 10px;
  }

  &__title {
    color: #36949f;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    display: inline-block;
    margin: 0 0 5px 0;
    @media (min-width: $md2+px) {
      &:hover {
        text-decoration: underline;
      }
    }

  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__old-price {
    flex: 1 1 100%;
    text-align: right;
    color: #999999;
    font-size: 18px;
    font-weight: 300;
    text-decoration: line-through;
  }

  &__add {
    background: url("../img/ico/cart-gray.png");
    width: 40px;
    height: 40px;
  }

  &__price {
    color: #333333;
    font-size: 24px;
    font-weight: 900;

    &:after {
      font-size: 18px;
    }
  }

  &__labels {
    position: absolute;
    left: 15px;
    top: 15px;
  }

  &__label {
    margin: 0 0 10px 0;
    padding: 0 15px;
    height: 21px;
    background-color: #fd8424;
    color: #ffffff;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    height: 195px;
    display: flex;
    justify-content: center;
    padding: 10px 0;

    img {
      max-width: 100%;
      max-height: 175px;
    }
  }
}

.search-page {
  display: flex;
  position: relative;

  &__select {
    display: flex;
    background-color: #f3f3f3;
    padding: 0 14px;
    align-items: center;
    cursor: pointer;
  }

  &__title {

    color: #666666;
    font-weight: 300;
    display: flex;
    align-items: center;

    span {
      margin: 0 13px;
      border-bottom: 1px dashed #666666;

      &:last-child {
        display: none;
      }
    }

    &:before {
      content: "";
      width: 17px;
      height: 17px;
      background: url("../img/ico/search-icon.png");
    }

    &:after {
      content: "";
      width: 10px;
      height: 10px;
      background: url("../img/ico/arrow-icon.png");
      transition: all .3s ease 0s;
    }

    &._categories {
      span {
        display: none;

        &:last-child {
          display: block;
        }
      }
    }

    &._active {
      &:after {
        transform: rotate(-180deg);
      }
    }
  }

  &__categories {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  &__input {
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    flex: 1 1 auto;

    input {
      height: 100%;
    }
  }
}

.categories-search {

  display: none;
  border-left: 1px solid #f3f3f3;
  border-right: 1px solid #f3f3f3;
  background-color: #ffffff;
  border-bottom: 4px solid #f68038;
  overflow: hidden;

  &__row {
    display: flex;
  }

  &__column {
    flex: 0 1 33.333%;
    padding: 27px 40px;
    border-right: 1px solid #f3f3f3;

    &:last-child {
      border: 0;
    }
  }

  &__list {
    li {
      margin: 0 0 20px 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__link {
    color: #999999;
  }

  &__checkbox {
    position: relative;

    input {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
      visibility: hidden;

      &:checked + .checkbox__text {
        color: #f68038;
      }
    }

    .checkbox__text {
      display: inline-flex;
      align-items: center;
      position: relative;
      font-size: 16px;
      color: #999999;
      letter-spacing: -0.3px;
      line-height: calc(20 / 16);
      cursor: pointer;

    }
  }
}