.page {
  padding: 164px 0 0 0;
  flex: 1 1 auto;
  @media (max-width: $md3+px) {
    padding: 133px 0 0 0;
  }

  @media (max-width: 640px) {
    padding: 85px 0 0 0;
  }

  &__container {
    @media (min-width: $md2+px) {
      display: flex;
    }

    .page__content {
      //height: 290px;
    }
  }

  &__side {
    position: relative;
    z-index: 10;
    flex: 0 0 260px;
    @media (max-width: $md2+px) {
      margin: 0 0 30px 0;
    }
  }

  &__menu {
    margin: 0 0 40px 0;
  }

  &__content {
    margin: 0 0 30px 0;
    @media (min-width: $md2+px) {
      flex: 1 1 auto;
      min-width: 0;
      padding: 0 0 0 30px;
    }
  }

  &__search {
    position: relative;
    z-index: 5;
    margin: 0 0 22px 0;
  }

  &__slider {
    margin: 0 0 65px 0;
  }

  &__news-side {
    margin: 0 0 75px 0;

    &:last-child {
      margin: 0;
    }
  }

  &__reviews-side {

  }

  &__products {
    margin: 0 0 20px 0;
  }

  &__brands {
    margin: 0 0 32px 0;
  }

  &__text {
    margin: 0 0 38px 0;
  }

  &__info-menu{
    margin: 0 0 38px 0;
  }
}

.menu-page {
  background: url("../img/bg_menu.jpg") top repeat;
  position: relative;


  &__header {
    padding: 20px;
    display: flex;
    align-items: center;
  }

  &__title {
    flex: 1 1 auto;
    font-family: "UniSans", sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 35 / 30 * 100%;
  }

  &__burger {
    flex: 0 0 36px;
    width: 36px;
    height: 36px;
    background-color: #068292;
    cursor: pointer;
    position: relative;
    z-index: 5;
    padding: 10px 6px;

    span {
      transition: all .3s ease 0s;
      top: calc(50% - 1px);
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #ffffff;

      &:first-child {
        top: 0;
      }

      &:last-child {
        bottom: 0;
        top: auto;
      }
    }

    &._active {
      span {
        transform: scale(0);

        &:first-child {
          transform: rotate(-45deg);
          top: calc(50% - 1px);
        }

        &:last-child {
          transform: rotate(45deg);
          bottom: calc(50% - 1px);
        }
      }
    }
  }

  &__body {
    display: none;


    &._active {
      display: block;
    }
  }

  &__list {
    > li {
      border-bottom: 1px solid #1aa7b9;
    }
  }

  &__lines {
    position: relative;
    height: 16px;
  }


  &__parent {
    .menu-page__link {
      &:after {
        content: "";
        transition: all .3s ease 0s;
        width: 14px;
        height: 14px;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translate(0px, -50%);
        background: url("../img/menu_arrow.png") 0 0 no-repeat;
        @media (max-width: $md2+px) {
          transform: translate(0px, -50%) rotate(90deg);
        }
      }
    }

    &._active {
      .submenu-page__item {
        display: block;
        @media (min-width: $md2+px) {
          z-index: 2;
          transform: translate(0px, 0px);
        }
      }

      .submenu-page {
        display: block;
      }

      .menu-page__link {
        background-color: #098494;
        @media (max-width: $md2+px) {
          &:after {
            transform: translate(0px, -50%) rotate(-90deg);
          }
        }
      }
    }
  }

  &__link {
    display: block;
    letter-spacing: 0.3px;
    font-weight: 300;
    font-size: 12px;
    color: #ffffff;
    padding: 12px 20px;
    position: relative;
    @media (min-width: $md2+px) {
      &:hover {
        background-color: #098494;
      }
    }
    @media (max-width: $md2+px) {
      font-size: 14px;
    }
  }

  &__submenu {

    @media (min-width: $md2+px) {
      display: none;
      position: absolute;
      top: 0;
      left: 100%;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
  }
}

.item-product {
  padding: 15px;
  position: relative;
  border: 1px solid #f5f5f5;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__body {
    padding: 0 10px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: #36949f;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    display: block;
    margin: 0 0 5px 0;
    transition: all 0.3s ease 0s;
    flex: 1 1 auto;

    span {
      font-weight: 900;
      display: block;
    }

    @media (min-width: $md2+px) {
      &:hover {
        text-decoration: underline;
      }
    }

  }

  &__footer {
    transition: all 0.3s ease 0s;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__old-price {
    flex: 1 1 100%;
    text-align: right;
    color: #999999;
    font-size: 18px;
    font-weight: 300;
    text-decoration: line-through;

    &:after {
      font-size: 14px;
    }
  }

  &__add {
    background: url("../img/ico/cart-gray.png");
    width: 40px;
    height: 40px;
  }

  &__price {
    color: #333333;
    font-size: 24px;
    font-weight: 900;

    &:after {
      font-size: 18px;
    }
  }

  &__labels {
    position: absolute;
    left: 15px;
    top: 15px;
  }

  &__label {
    margin: 0 0 10px 0;
    padding: 0 15px;
    height: 21px;
    background-color: #fd8424;
    color: #ffffff;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    height: 260px;
    display: flex;
    justify-content: center;
    padding: 10px 0;

    img {
      max-width: 100%;
      max-height: 240px;
    }
  }

  &__hover {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0px;
    transition: transform .3s ease 0s;
    transform: translate(-110%, 0px);
  }

  @media (min-width: $md2+px) {
    &:hover {
      .item-product__hover {
        transform: translate(0px, 0px);
      }

      .item-product__title,
      .item-product__footer {
        opacity: 0;
      }
    }
  }
}

.hover-item-product {
  background-color: rgba(0, 0, 0, 0.84);
  border: 5px solid #f68038;
  padding: 15px;
  display: flex;
  flex-direction: column;
  color: #ffffff;

  &__title {
    color: #c2c2c2;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    margin: 0 0 5px 0;

    span {
      display: block;
      color: #ffffff;
      font-weight: 900;
    }
  }

  &__options {
    flex: 1 1 auto;
  }

  &__cart {
    background: url("../img/ico/cart_orange.png") 0 0 no-repeat;
    width: 57px;
    height: 57px;
    margin: 0 auto 25px auto;
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__old-price {
    flex: 1 1 100%;
    text-align: right;
    color: #999999;
    font-size: 18px;
    font-weight: 300;
    text-decoration: line-through;
    margin: 0 0 10px 0;

    &::after {
      font-size: 14px;
    }
  }

  &__price {
    font-size: 24px;
    font-weight: 900;

    &::after {
      font-size: 18px;
    }
  }

  &__stock {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    color: #f68038;
    font-size: 14px;
    font-weight: 300;
    height: 21px;
    border-radius: 15px;
    background-color: #ffffff;
    line-height: 16px;
  }
}

.options-item-product {

  &__item {
    margin: 0 0 10px 0;
  }

  &__label {
    margin: 0 0 3px 0;
  }

  &__value {
    color: #f68038;
    font-weight: 900;
  }
}

.submenu-page {
  @media (max-width: $md2+px) {
    background-color: #ffffff;
  }

  &__item {
    display: none;
    @media (min-width: $md2+px) {
      display: block;
      border: 2px solid #098494;
      background-color: #ffffff;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0%;
      transition: all .3s ease 0s;
      transform: translate(-100%, 0px);
    }
  }

  &__menu {
    padding: 20px 0;
    border-bottom: 1px solid #dedede;
  }

  &__link {
    display: block;
    color: #1ab9ce;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: .3px;
    padding: 10px 40px;
    position: relative;
    @media (min-width: $md2+px) {
      &:hover {
        background-color: #71c7d3;
        color: #ffffff;
      }
    }
    @media (max-width: $md2+px) {
      font-size: 14px;
      padding: 10px 20px;
    }
  }

  &__product {
    padding: 0 15px;

    @media (max-width: $md2+px) {
      display: none;
    }

    .item-product {
      border: 0;
    }
  }
}


.search-page {
  display: flex;
  position: relative;

  &__select {
    display: flex;
    background-color: #f3f3f3;
    padding: 0 14px;
    align-items: center;
    cursor: pointer;

  }

  &__title {

    color: #666666;
    font-weight: 300;
    display: flex;
    align-items: center;

    span {
      margin: 0 13px;
      border-bottom: 1px dashed #666666;
      @media (max-width: $md3+px) {
        display: none;
      }

      &:last-child {
        display: none;
      }
    }

    &:before {
      content: "";
      width: 17px;
      height: 17px;
      background: url("../img/ico/search-icon.png");
    }

    &:after {
      content: "";
      width: 10px;
      height: 10px;
      background: url("../img/ico/arrow-icon.png");
      transition: all .3s ease 0s;
    }

    &._categories {
      span {
        display: none;

        &:last-child {
          display: block;
        }
      }
    }

    &._active {
      &:after {
        transform: rotate(-180deg);
      }
    }
  }

  &__categories {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  &__input {
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    flex: 1 1 auto;

    input {
      height: 100%;
    }
  }
}

.categories-search {

  display: none;
  border-left: 1px solid #f3f3f3;
  border-right: 1px solid #f3f3f3;
  background-color: #ffffff;
  border-bottom: 4px solid #f68038;
  overflow: hidden;

  &__row {
    @media (min-width: $md2+px) {
      display: flex;
    }
    @media (max-width: $md2+px) {
      padding: 20px 0;
    }
  }

  &__column {
    flex: 0 1 33.333%;
    padding: 27px 40px;
    border-right: 1px solid #f3f3f3;

    &:last-child {
      border: 0;
    }

    @media (max-width: $md1+px) {
      padding: 27px 20px;
    }
    @media (max-width: $md2+px) {
      padding: 0px 20px;
      margin: 0 0 20px 0;
      &:last-child {
        margin: 0;
      }
    }
  }

  &__list {
    li {
      margin: 0 0 20px 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__link {
    color: #999999;
  }

  &__checkbox {
    position: relative;

    input {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
      visibility: hidden;

      &:checked + .checkbox__text {
        color: #f68038;
      }
    }

    .checkbox__text {
      display: inline-flex;
      align-items: center;
      position: relative;
      font-size: 16px;
      color: #999999;
      letter-spacing: -0.3px;
      line-height: calc(20 / 16);
      cursor: pointer;

    }
  }
}

.items-products {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;

  &__column {
    box-sizing: border-box;
    flex: 0 1 33.333%;
    padding: 0 15px;
    margin: 0 0 30px 0;
    @media (max-width: $md1+px) and (min-width: $md2+px) {
      flex: 0 1 50%;
    }
    @media (max-width: 840px) {
      flex: 0 1 50%;
    }
    @media (max-width: 600px) {
      flex: 1 1 100%;
    }
  }
}


.brands-slider {

  border-top: 3px dashed #dadada;
  border-bottom: 3px dashed #dadada;
  padding: 25px 0;

  &__container {
    position: relative;
  }

  &__body {
    padding: 0 40px;
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
    transition: all .3s ease 0s;


    img {
      padding: 0 10px;
      transition: all .3s ease 0s;
      filter: grayscale(1);
      max-width: 100%;

      &:hover {
        filter: grayscale(0);
      }

    }
  }

  &__arrows {

  }

  &__arrow {
    position: absolute;
    top: 50%;
    margin: -15px 0 0 0px;

    &_prev {
      left: 10px;
      @media (min-width: $md1+px) {
        left: 0;
      }
    }

    &_next {
      right: 10px;
      @media (min-width: $md1+px) {
        right: 0;
      }
    }
  }
}

.info-menu {

  border-top: 3px dashed #dadada;
  border-bottom: 3px dashed #dadada;
  padding: 10px 0;

  &__container {

  }

  &__body {
    display: inline-block;
    @media (max-width: $md3+px) {
     display: flex;
    }
  }

  &__line {
    display: flex;
    padding: 15px;
    align-items: center;
    border-bottom: 1px solid #efefef;
    @media (max-width: $md3+px) {
      display: block;
      flex: 0 1 50%;
      border: none;
    }

    &:last-child {
      border: none;
    }
  }

  &__label {
    color: #333333;
    font-weight: 900;
    margin: 0 35px 0 0;
    @media (max-width: $md3+px) {
      margin: 0 0 10px 0;
    }
  }

  &__list {
    @media (min-width: $md3+px) {
      display: flex;
      align-items: center;
    }
    li {
      margin: 0 30px 0 0;
      @media (min-width: $md3+px) {
        display: flex;
        align-items: center;
      }
      @media (max-width: $md3+px) {
        margin: 0 0 10px 0;
        &:last-child{
          margin: 0;
        }
      }
    }
  }

  &__link {
    color: #1ab9ce;
    font-size: 12px;
    font-weight: 300;
    @media (min-width: $md2+px) {
      &:hover {
        color: #333333;
      }
    }
  }
}