body {
  color: black;
  font-size: 14px;

  &._lock {
    overflow: hidden;
  }
}

.wrapper {
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &._loaded {

  }
}

._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 20px;
  //@media (max-width: $md1 + px) {
  //  max-width: 970px;
  //}
  //@media (max-width: $md2 + px) {
  //  max-width: 750px;
  //}
  //@media (max-width: $md3 + px) {
  //  max-width: none;
  //  padding: 0 10px;
  //}
}


input {
  outline: none;
}

.btn {
  display: inline-flex;
  padding: 0px 25px;
  justify-content: center;
  align-items: center;
  height: 39px;
  background-color: #f68038;
  border: none;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 900;
  text-transform: uppercase;
  transition: all .3s ease 0s;
  @media (min-width: 992px) {
    &:hover {
      background-color: #aa4004;
    }
  }
}

.btn-reset {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  padding: 0;
}

input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
  border: none;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.rub:after {
  content: "₽";
}

._ibg {

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  img {

    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
  }
}

.side-title {
  color: #dadada;
  font-family: "UniSans", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  @media (min-width: $md2+px) {
    &:hover {
      color: #1ab9ce;
    }
  }
}

.news-side {

  &__title {
    display: inline-block;
    margin: 0 0 25px/30px * 1em 0;
  }

  &__items {

  }

  &__item {
    margin: 0 0 45px 0;

    &:last-child {
      margin: 0;
    }
  }

  &__label {
    color: #333333;
    font-size: 12px;
    font-weight: 900;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0 0 20px/12px * 1em 0;
    display: inline-block;
    @media (min-width: $md2+px) {
      &:hover {
        color: #fd8322;
      }
    }
  }

  &__body {
    display: flex;
  }

  &__data {
    flex: 0 0 30px;
    text-align: center;
    color: #d8d8d8;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;

    span {
      font-size: 24px;
      font-weight: 900;
      display: block;
    }
  }

  &__text {
    padding: 0 0 0 15px;
    color: #666666;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
  }
}

.reviews-side {
  &__item {
    display: block;
    margin: 32px 0 39px 0;

    &:last-child {
      margin: 0;
    }

    @media (min-width: $md2+px) {
      &:hover {
        .reviews-side__user, .reviews-side__data {
          color: #1ab9ce;
        }

        .reviews-side__body {
          background-color: #1ab9ce;
          color: #ffffff;

          &:before {
            color: #64deee;
          }
        }
      }
    }
  }

  &__title {
    display: inline-block;
    margin: 0 0 20px/30px * 1em 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px 0;
  }

  &__user {
    display: block;
    color: #333333;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 18px;
    @media (min-width: $md2+px) {
      &:hover {
        color: #1ab9ce;
      }
    }
  }

  &__data {
    display: block;
    color: #999999;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 300;
  }

  &__body {
    display: block;
    position: relative;
    padding: 14px 8px 14px 30px;
    font-size: 12px;
    line-height: 18px;
    color: #666666;
    font-weight: 300;

    &::before {
      content: '"';
      font-family: "Roboto", sans-serif;
      position: absolute;
      left: 8px;
      top: 12px;
      color: #dadada;
      font-weight: 900;
      font-size: 48px;
      line-height: 1;
    }
  }

}

._arrow {
  background: url("../img/ico/sl_arrow.svg") 0 0 no-repeat;
  height: 29px;
  cursor: pointer;
  outline: none;
  padding: 0 17px;
  @media (min-width: $md2+px) {
    &:hover {
      background: url("../img/ico/sl_arrow_h.svg") 0 0 no-repeat;
    }
  }
}

._arrow_prev {
  @media (min-width: $md2+px) {
    &:hover {
      transform: rotate(-180deg);
    }
  }
}

._arrow_next {
  transform: rotate(-180deg);
  @media (min-width: $md2+px) {
    &:hover {
      transform: rotate(0deg);
    }
  }
}