body {
  color: black;
  font-size: 14px;

  &._lock {
    overflow: hidden;
  }
}

.wrapper {
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &._loaded {

  }
}

._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 20px;
  //@media (max-width: $md1 + px) {
  //  max-width: 970px;
  //}
  //@media (max-width: $md2 + px) {
  //  max-width: 750px;
  //}
  //@media (max-width: $md3 + px) {
  //  max-width: none;
  //  padding: 0 10px;
  //}
}


input {
  outline: none;
}

.btn-reset {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  padding: 0;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

