$mineShaft-color: #2f2f2f;
$black-color: #000000;
$silver-color: #c2c2c2;
$alabaster-color: #f8f8f8;
$DeepSeaGreen-color: #055555;
$Alto-color: #dddddd;
$white-color: #ffffff;
$emperor-color: #555555;
$tamarillo-color: #911026;
$catskillWhite-color: #fbfcfd;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;
